body {
	color: #fff;
	background: url('../img/back.jpg') center ;
	font-family: 'Lato', sans-serif;	
	font-size: 20px;
	text-align: justify;

}

.block {
	overflow: auto;

}

.left {
	float: left;
}

.right {
	float: none;
}

.leftgrup {
	width: 170px;
	margin: 10px;
	float: left;
}

.rightgrup {
	width: 170px;
	margin: 10px;
	float: right;
}

.name {
	font-weight: bold;
	font-style: italic;
	color: #484848;
}


